html {
	position: relative;
	min-height: 100% !important;
}

html,
body{
  overflow-x: hidden;
}

header
{
	text-align: center;
	font-size: 16px;
}

@media (min-width: 992px)
{
  header {
    font-size: 17px;
  }
}

/* ID Selectors */

#bottom-nav {
	padding-top: 20px;
}

#contact-email
{
	padding-right: 5px;
}

#contact-phone
{
	padding-left: 5px;
}

#dropdown-icon
{
	height: 25px;
	width: auto;
}

#facebook-badge
{
	background: url("/static/imgs/base/Facebook-Badge-White.png") no-repeat;
	background-size: 25px 25px;
}

#footer #bottom-info {
	color:#FFFFFF;
}

#footer #contact {
	padding-top: 10px;
}

#footer a {
	color: #FFFFFF;
}

#footer-col
{
	vertical-align: middle;
	height: 100%;
}

#footer-logo
{
	width: 100px;
	height: auto;
	text-align: center;
	vertical-align: middle;
}

#instagram-badge
{
	background: url("/static/imgs/base/Instagram-Badge-White.png") no-repeat;
	background-size: 25px 25px;
}

#nav-icon
{
	width: 25px;
	height: auto;
}

#nav-row ul {
	width: 100%;
	list-style: none;
	padding: 30px 0 0 0;
}

#nav-row li {
	float: left;
	width: 16.66666666667%;
	padding: 25px 0 0 0;
}

#nav-row a {
	font-family: 'Lobster', cursives;
	color: #00367a;
}

@media (max-width: 600px)
{
	#nav-row li
	{
		width: 33.33333%;
	}
}

@media (max-width: 991px)
{
	#nav-row ul 
	{
		width: 100%;
		list-style: none;
		padding: 0px 0 5px 0;
	}

	#nav-row a {
		font-family: 'Lobster', cursives;
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	#not-found-image
	{
		width: 280px;
		height: auto;
	}
}

#page {
	padding-bottom: 15px;
}

#socialmedia {
	float: right;
	width: 100px;
}

#top-nav {
	padding-left: 30px;
}

@media (max-width: 991px)
{		
	#footer-logo
	{
		display: none;
		visibility: hidden;
	}
}

#twitter-badge
{
	background: url("/static/imgs/base/Twitter-Badge-White.png") no-repeat;
	background-size: 25px 25px;
}

/* Class Selectors */
.boarder
{
	padding: 10px 10px 10px 10px !IMPORTANT;
	margin-bottom: 15px;
	background: #124b90 repeat;
}

.brand {
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
}

.col-header
{
	width: 14.285714%;
	position: relative;
  	min-height: 1px;
  	padding-right: 15px;
 	padding-left: 15px;
}

@media (max-width: 991px) {			
	.container
	{
		padding: 0px 0px 0px 0px;
	}
}

.content {
	padding: 10px 0px 10px 0px;
	color: #00376a;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.content p {
	text-align: center;
	margin-bottom: 0px;
}

.contents
{
	padding: 15px 15px 15px 15px;
	background-color: #5b81bb;
	display: block;
}

@media (max-width: 767px) {
	.contents
	{
		padding: 25px 25px 25px 25px;
	}
}

.dropdown
{
	list-style-type: none;
	margin-bottom: 0px;
}

.footer
{
	text-align: center;
	color: #DDDDDD;
	height: auto !IMPORTANT;
	padding-bottom: 15px;
	
}

@media (max-width: 767px) {
	.footer
	{
		padding: 0px 0px 0px 0px;
	}
}

.footer a
{
	color: #EEEEEE;
	text-align: left;
}

.footer-content
{
	padding: 10px 0px 10px 0px;
	margin: 0px auto 0px auto;
	background-color: #124b90;
}

.logo-image
{
	position: absolute;
	left: 15px;
	bottom: 0px;
}

@media (max-width: 767px)
{
  .logo-image {
    left: auto;
    max-width: 275px;
    position: relative;
  }
}

@media (min-width: 768px)
{
  .logo-image {
    max-width: 275px;
  }
}

@media (min-width: 992px)
{
  .logo-image {
    max-width: 350px;
  }
}

@media (min-width: 1200px)
{
  .logo-image {  	
    max-width: 450px;
  }
}

.logo-panel
{
	position: relative;
	top: 0;
	left: 0;
	text-align: center;
}

@media (max-width: 767px)
{
  .logo-panel {
	background-color: #124b90;
  }
}

.logo-background {
	position: relative;
	top: 0;
	left: 0;
}

@media (max-width: 767px)
{
  .logo-background {
    visibility: hidden;
    height: 0px;
  }
}

@media (min-width: 768px)
{
  .logo-background {
    max-width: 750px;
  }
}

@media (min-width: 992px)
{
  .logo-background {
    max-width: 940px;
  }
}

@media (min-width: 1200px)
{
  .logo-background {  	
    max-width: 1140px;
  }
}

.main-content
{
	margin-top: 25px;
}

@media (max-width: 767px) {	
	.main-content
	{
		margin: 0px 0px 0px 0px;
	}
}

.nav-row
{
	margin: 0px 0px 0px 0px;
	border-bottom-color: #000;
}

@media (min-width: 992px)
{
	.nav-collapse
	{
		display: none;
		visibility: hidden;
	}
}

.page-not-found
{
	text-align: center;
}

.reference
{
	color: #000000;
}


.rounded
{
	border-radius: 10px;
}



.shadowed
{
	-moz-box-shadow:0px 0px 10px 5px #333;
	-webkit-box-shadow:0px 0px  10px 5px #333;
	box-shadow:0px 0px 10px 5px #3333;
}

.social-badge
{
	height: 25px;
	padding-left: 45px;
	display: inline-block;
	margin-bottom: 3px;
}

.social-media
{
	margin-bottom: 10px;
}

.social-col
{
	margin-left: 30%;
	margin-right: 30%;
	text-align: left;
}

@media (max-width: 767px)
{
	.social-col
	{
		margin-left: 40%;
	}
}

@media (min-width: 767px) and (max-width: 991px)
{			
	.social-col
	{
		margin-left: 45%;
	}
}

.tri-content {
	text-align: center;
	padding: 15px 15px 15px 15px;
	height: 200px;
	background-size: 200px auto;
	
}

.tri-h1
{
	text-align: center;
}

.tri-h2
{
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 0px !IMPORTANT;
	margin-bottom: 0px !IMPORTANT;
	text-align: center;
}

.tri-panel
{
	margin-bottom: 20px;
	margin: 0px auto 0px auto;
}

.tri-panel-header
{
	font-family: "nexa_rust_sansblack";
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
 
.sidebar-offcanvas > .list-group {
  margin-top: 15px;
}
  
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
