#annual.jumbotron {
  background: url("/static/img/gardencentre/annual-banner.png") center;
}
#fountainsponds.jumbotron {
  background: url("/static/img/gardencentre/fountainsponds-banner.jpg") center;
}
#fruitsvegetables.jumbotron {
  background: url("/static/img/gardencentre/fruitsvegetables-banner.jpg") center;
}
#garden.jumbotron {
  background: url("/static/img/gardencentre/garden-banner.png") center;
}
#gardenpieces.jumbotron {
  background: url("/static/img/gardencentre/gardenpieces-banner.png") center;
}
#largestock.jumbotron {
  background: url("/static/img/gardencentre/largestock-banner.png") center;
}
#nursery.jumbotron {
  background: url("/static/img/gardencentre/nursery-banner.png") center;
}
#perennial.jumbotron {
  background: url("/static/img/gardencentre/perennial-banner.png") center;
}
#plantfinder.jumbotron {
  background: url("/static/img/gardencentre/plantfinder-banner.jpg") center;
}
#potterycontainers.jumbotron {
  background: url("/static/img/gardencentre/potterycontainer-banner.jpg") center;
}
#tropicals.jumbotron {
  background: url("/static/img/gardencentre/tropicals-banner.jpg") center;
}